.tree ul {
    padding-top: 20px;
    position: relative;
  }
  
  .tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
  }
  
  .tree li::before,
  .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 0.3rem solid black;
    width: 50%;
    height: 20px;
  }
  
  .tree li::after {
    right: auto;
    left: 50%;
    border-left: 0.3rem solid black;
  }
  
  .tree li:only-child::after,
  .tree li:only-child::before {
    display: none;
  }
  
  .tree li:only-child {
    padding-top: 0;
  }
  
  .tree li:first-child::before,
  .tree li:last-child::after {
    border: 0 none;
  }
  
  .tree li:last-child::before {
    border-right: 0.3rem solid black;
    border-radius: 0 5px 0 0;
  }
  
  .tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 0.3rem solid black;
    width: 0;
    height: 20px;
  }
  
  .tree li div {
    border: 0.3rem solid black;
    padding: 5px 60px;
    font-size: 2.5rem;
    display: inline-block;
  }
  
  .tree li .value-selected:hover,
  .tree li .value:hover {
    background: lightblue;
    color: black;
    border: 0.2rem solid lightblue;
    cursor: pointer;
  }
  
  .tree li .node-content,
  .tree li .leaf {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
  }
  
  .tree li .leaf {
    font-size: 1.5rem;
    color: black;
    position: relative;
    padding-bottom: 0.5rem;
    width: 0.1rem;
    border: 0;
  }
  
  .tree li .leaf::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: 2rem solid black;
    width: 0.25rem;
  }
  
  .tree li .value-selected,
  .tree li .value {
    font-size: 2.5rem;
    border: 0.2rem solid black;
    padding: 5px 60px;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 50%;
  }
  
  .tree li .value-selected {
    background: lightblue;
  }
  
  .tree-container {
    width: 80vw;
    background-color: #a9a9a9;
    display: flex;
    align-items: center;
    /* overflow: auto; */
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .tree {
    width: 1800px;
    min-width: 1800px;
  }